<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.equj65.spring.mybatis.persistence.ProductMapper">

    <cache/>

    <select id="getProductById" resultType="net.equj65.spring.mybatis.entity.Product">
        select id, productcode as "productCode", name, price from products where id = #{id}
    </select>

</mapper>