<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.equj65.spring.mybatis.persistence.UserMapper">

    <cache/>

    <select id="countUsers" resultType="int">
        SELECT count(*) from users
    </select>

    <select id="findAllUsers" resultType="net.equj65.spring.mybatis.entity.User">
        SELECT id, name, age, mail FROM users
    </select>

    <select id="getUserById" resultType="net.equj65.spring.mybatis.entity.User">
        SELECT id, name, age, mail FROM users WHERE id = #{id}
    </select>

    <!--
      parameterType,userGeneratedKeys,keyProperty,keyColumnを設定することで、
      Mapperの呼び出し元インスタンスに対して自動generateされたキー値が格納される。
    -->
    <insert id="insertUser" parameterType="net.equj65.spring.mybatis.entity.User" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        INSERT INTO users (name, age, mail) VALUES (#{name}, #{age}, #{mail})
    </insert>

    <update id="updateUser">
        UPDATE users set
          name = #{name},
          age = #{age},
          mail = #{mail}
        WHERE id = #{id}
    </update>

    <delete id="deleteUser">
        DELETE FROM users WHERE id = #{id}
    </delete>
    
</mapper>